*, *::after, *::before {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}
html::-webkit-scrollbar {
    width: 12px;
    height: 7px;
    margin-right: 2px;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(60deg, #10A0E8 43%, #10A0E8 49%);
    border-radius: 12px;
}

html::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #10A0E8 14%, #10A0E8 64%);
}

html::-webit-scrollbar-track {
    background: rgba(245, 245, 245, 0.88);
    border-radius: 10px;
    -webkit-box-shadow: inset 0px 0px 0px rgba(245, 245, 245, 0.88);
    box-shadow: inset 0px 0px 0px rgba(245, 245, 245, 0.88);
}
body {
    font-family: 'Gilroy', sans-serif;
    background-image: url('../../img/main/BACK.png');
    background-repeat: no-repeat;
    background-size: cover;
}
html {
    scroll-behavior: smooth;
}
.gradient-blue {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(16, 160, 231, 0.3) 30%, rgba(16, 160, 231, 1) 70%);
    z-index: 2 !important;
    border-radius: 42px;
}

// navbar start
.uk-offcanvas-flip .uk-open>.uk-offcanvas-bar {
    background-color: #002C6D;
    width: 350px;
}
.navbar .uk-offcanvas-close {
    position: static;
    padding: 0;
}
.navbar .uk-offcanvas-close svg {
    fill: #fff;
}
.navbar .uk-offcanvas-close svg:nth-child(2) {
    display: none;
}
.mobile-navbar {
    .uk-link, a {
        text-transform: none;
        font-weight: 500;
        color: #fff;
        letter-spacing: 1px;
    }
}

// main section start
.main-square-first {
    animation: topSquare 15s ease 0.4s infinite forwards;
    .main-square__circle-first {
        animation: topCircle 15s ease 0.4s infinite forwards;
    }
}
.main-square-second {
    animation: bottomSquare 15s ease 0.4s infinite forwards;
    .main-square__circle-second {
        animation: bottomCircle 15s ease 0.4s infinite forwards;
    }
}
.main-section-btn {
    &:hover {
        .main-section-btn-arrow {
            transform: translate3d(7px, 0, 75px);
        }
    }
}
#adviceModal {
    .uk-modal-close-default {
        top: 40px;
        right: 40px;
        svg:nth-child(2) {
            display: none;
        }
    }
}
.uk-modal  {
    background: rgba(255,255,255,0.5) !important;
    backdrop-filter: blur(10px);
}
// advantages section start
.advantage-section {
    .uk-dotnav>.uk-active>* {
        background-color: #10A0E8;
        border-radius: 4px;
        width: 40px;
        height: 10px;
    }
    .uk-dotnav>*>* {
        width: 20px;
        height: 10px;
        border-radius: 4px;
        border: none;
        background-color: rgba(16, 160, 232, 0.36);
    }
    *+.uk-margin {
        margin-top: 43px !important;
    }
}
// account section start

// why work us start
.why-work-us-list > li > div {
    height: 280px;
}
// service section start
.services-list {
    li > .services-list-item {
        height: 440px;
    }
    li  ul  li {
        margin-top: 12px !important;
    }
}
// form section start
.form-section {
    form {
        input::placeholder {
            color: #fff;
            opacity: 0.72;
        }
        button {
            margin-left: 20px;
        }
    }
}
// animation start
@keyframes topCircle {
    0% {
        transform: translate3d(0px, -50%, 75px);
    }
    25% {
        transform: translate3d(220px, -50%, 75px);
    }
    35% {
        transform: translate3d(200px, -50%, 75px);
    }
    50% {
        transform: translate3d(220px, -50%, 75px);
    }
    75% {
        transform: translate3d(0px, -50%, 75px);
    }
    86% {
        transform: translate3d(20px, -50%, 75px);
    }
    100% {
        transform: translate3d(0px, -50%, 75px);
    }
}
@keyframes bottomCircle {
    0% {
        transform: translate3d(0px, -50%, 75px);
    }
    25% {
        transform: translate3d(-220px, -50%, 75px);
    }
    35% {
        transform: translate3d(-200px, -50%, 75px);
    }
    50% {
        transform: translate3d(-220px, -50%, 75px);
    }
    75% {
        transform: translate3d(0px, -50%, 75px);
    }
    86% {
        transform: translate3d(-20px, -50%, 75px);
    }
    100% {
        transform: translate3d(0px, -50%, 75px);
    }
}
@keyframes topSquare {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        transform: translate3d(-320px, 0px, 75px);
    }
    50% {
        transform: translate3d(-320px, 250px, 75px);
    }
    75% {
        transform: translate3d(0px, 250px, 75px);
    }
    100% {
        transform: translate3d(0px, 0px, 75px);
    }
}
@keyframes bottomSquare {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        transform: translate3d(320px, 0px, 75px);
    }
    50% {
        transform: translate3d(320px, -250px, 75px);
    }
    75% {
        transform: translate3d(0px, -250px, 75px);
    }
    100% {
        transform: translate3d(0px, 0px, 75px);
    }
}

@keyframes topCircle2 {
    0% {
        transform: translate3d(0px, -50%, 75px);
    }
    25% {
        transform: translate3d(120px, -50%, 75px);
    }
    35% {
        transform: translate3d(105px, -50%, 75px);
    }
    50% {
        transform: translate3d(120px, -50%, 75px);
    }
    75% {
        transform: translate3d(0px, -50%, 75px);
    }
    82% {
        transform: translate3d(15px, -50%, 75px);
    }
    100% {
        transform: translate3d(0px, -50%, 75px);
    }
}
@keyframes bottomCircle2 {
    0% {
        transform: translate3d(0px, -50%, 75px);
    }
    25% {
        transform: translate3d(-120px, -50%, 75px);
    }
    35% {
        transform: translate3d(-105px, -50%, 75px);
    }
    50% {
        transform: translate3d(-120px, -50%, 75px);
    }
    75% {
        transform: translate3d(0px, -50%, 75px);
    }
    82% {
        transform: translate3d(-15px, -50%, 75px);
    }
    100% {
        transform: translate3d(0px, -50%, 75px);
    }
}
@keyframes topSquare2 {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        transform: translate3d(-180px, 0px, 75px);
    }
    50% {
        transform: translate3d(-180px, 140px, 75px);
    }
    75% {
        transform: translate3d(0px, 140px, 75px);
    }
    100% {
        transform: translate3d(0px, 0px, 75px);
    }
}
@keyframes bottomSquare2 {
    0% {
        transform: translate3d(0px, 0px, 0px);
    }
    25% {
        transform: translate3d(180px, 0px, 75px);
    }
    50% {
        transform: translate3d(180px, -140px, 75px);
    }
    75% {
        transform: translate3d(0px, -140px, 75px);
    }
    100% {
        transform: translate3d(0px, 0px, 75px);
    }
}

// mobile style start
@media (max-width: 1536px) {
    .main-contents-wrapper {
        margin-top: 50px;
    }
}
@media (max-width: 1480px) {
    .partner-steps-wrapper {
        padding: 0px 120px !important;
        .partner-step-1 {
            left: -120px;
        }
        .partner-step-2 {
            left: 10px;
        }
        .partner-step-3 {
            left: 300px;
        }
        .partner-step-4 {
            left: 550px;
        }
        .partner-step-5 {
            right: -30px;
        }
        .partner-step-6 {
            right: -120px;
        }
    }
}
@media (max-width: 1440px) {
    .main-contents-wrapper {
        margin-left: 40px !important;
        .main-aside-right-wrapper {
            width: auto;
            margin-right: 40px;
        }
    }
    .why-work-us-list > li > div {
        height: 320px;
    }
    .services-list {
        li > .services-list-item {
            height: 480px;
        }
    }
}
@media (max-width: 1400px) {
    .footer-contcat-details {
        ul li:nth-child(3) {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-top: 22px !important;
        }
    }
}
@media (max-width: 1360px) {
    .footer-social-details {
        ul li:nth-child(3) {
            margin-top: 22px !important;
        }
    }   
}
@media (max-width: 1320px) {
    .services-list {
        li > .services-list-item {
            height: 540px;
        }
    }
    .partner-steps-wrapper {
        .partner-step-2 {
            left: -20px;
        }
        .partner-step-3 {
            left: 250px;
        }
        .partner-step-4 {
            left: 460px;
        }
        .partner-step-5 {
            right: -60px;
        }
        .partner-step-6 {
            right: -140px;
        }
    }
}
@media (max-width: 1200px) {
    .main-contents-wrapper {
        margin-top: 120px;
        .main-aside-right-wrapper {
            margin: 0 auto;
        }
    }
    .why-work-us-list > li > div {
        height: 250px;
    }
    .why-work-us-list {
        margin-top: 20px !important;
        li {
            margin-top:100px !important;
        }
    }
    .services-list {
        li > .services-list-item {
            height: 380px;
        }
    }
}
@media (max-width: 1023px) {
    .catalogue-section {
        padding-bottom: 0 !important;
    }
    .form-section {
        padding-bottom: 0 !important;
    }
}
@media (max-width: 960px) {
    .main-contents-wrapper {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }
    .why-work-us-list > li > div {
        height: 320px;
    }
    .services-list {
        li > .services-list-item {
            height: 440px;
        }
    }
    #adviceModal {
        .uk-modal-close-default {
            top: 20px;
            right: 20px;
        }
    }
}
@media (max-width: 765px) {
    .account-section {
        padding-bottom: 0 !important;
    }
    .header.uk-navbar-transparent {
        margin-top: 0px !important;
    }
    .form-section {
        form {
            button {
                margin-left: 0px;
            }
        }
    }
    #adviceModal {
        .uk-modal-close-default {
            top: 10px;
            right: 10px;
        }
    }
}
@media (max-width: 700px) {
    .services-list {
        li > .services-list-item {
            height: 520px;
        }
    }
}
@media (max-width: 640px) {
    .main-contents-wrapper {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top: 80px;
    }
    .uk-container {
        padding-left: 22px !important;
        padding-right: 22px !important;
    }
    .main-square-first {
        animation: topSquare2 15s ease 0.4s infinite forwards;
        .main-square__circle-first {
            animation: topCircle2 15s ease 0.4s infinite forwards;
        }
    }
    .main-square-second {
        animation: bottomSquare2 15s ease 0.4s infinite forwards;
        .main-square__circle-second {
            animation: bottomCircle2 15s ease 0.4s infinite forwards;
        }
    }
    .main-aside-right-wrapper {
        padding-left: 24px !important;
    }
    .why-work-us-list {
        margin-top: 0px !important;
    }
    .why-work-us-list > li > div {
        height: 280px;
    }
    .services-list {
        li > .services-list-item {
            height: 380px;
        }
    }
}
@media (max-width: 480px) {
    .services-list {
        li > .services-list-item {
            height: 450px;
        }
    }
}
@media (max-width: 360px) {
    .uk-offcanvas-flip .uk-open>.uk-offcanvas-bar {
        width: 100%;
    }
}
@media (max-width: 350px) {
    .services-list {
        li > .services-list-item {
            height: 500px;
        }
    }
}
@media (max-width: 300px) {
    .why-work-us-list > li > div {
        height: 400px;
    }
    .services-list {
        li > .services-list-item {
            height: 560px;
        }
    }
}
// font start
@font-face {
    font-family: 'Gilroy';
    src: url("Gilroy-Regular.eot");
    src: local("Gilroy Regular"), local("Gilroy-Regular"), url("Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/gilroy/Gilroy-Regular.woff2") format("woff2"), url("../../fonts/gilroy/Gilroy-Regular.woff") format("woff"), url("Gilroy-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("Gilroy-Bold.eot");
    src: local("Gilroy Bold"), local("Gilroy-Bold"), url("Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/gilroy/Gilroy-Bold.woff2") format("woff2"), url("../../fonts/gilroy/Gilroy-Bold.woff") format("woff"), url("Gilroy-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("Gilroy-Semibold.eot");
    src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../../fonts/gilroy/Gilroy-Semibold.woff2") format("woff2"), url("../../fonts/gilroy/Gilroy-Semibold.woff") format("woff"), url("Gilroy-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url("Gilroy-Medium.eot");
    src: local("Gilroy Medium"), local("Gilroy-Medium"), url("Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/gilroy/Gilroy-Medium.woff2") format("woff2"), url("../../fonts/gilroy/Gilroy-Medium.woff") format("woff"), url("Gilroy-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}